data/LD2011_2014.txt filter=lfs diff=lfs merge=lfs -text
experiments/electricity/LD2011_2014.csv filter=lfs diff=lfs merge=lfs -text
data/household_power_consumption.txt filter=lfs diff=lfs merge=lfs -text
data/electricity/lags_LD2011_2014.csv filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
data/EURUSD/EUR-USD_Minute_2025-12-21_UTC.csv filter=lfs diff=lfs merge=lfs -text
data/EURUSD/EUR-USD_Minute_2025-12-31_UTC.csv filter=lfs diff=lfs merge=lfs -text
data/EURUSD/EUR-USD_Minute_2025-12-25_UTC.csv filter=lfs diff=lfs merge=lfs -text
data/EURUSD/EUR-USD_Minute_2025-12-01_UTC.csv filter=lfs diff=lfs merge=lfs -text
data/EURUSD/EUR-USD_Minute_2025-12-03_UTC.csv filter=lfs diff=lfs merge=lfs -text
data/EURUSD/EUR-USD_Minute_2025-12-11_UTC.csv filter=lfs diff=lfs merge=lfs -text
data/EURUSD/EUR-USD_Minute_2025-12-15_UTC.csv filter=lfs diff=lfs merge=lfs -text
data/EURUSD/EUR-USD_Minute_2025-12-16_UTC.csv filter=lfs diff=lfs merge=lfs -text
data/EURUSD/EUR-USD_Minute_2025-12-26_UTC.csv filter=lfs diff=lfs merge=lfs -text
data/EURUSD/EUR-USD_Minute_2025-12-30_UTC.csv filter=lfs diff=lfs merge=lfs -text
data/electricity/raw_norm_LD2011_2014.csv filter=lfs diff=lfs merge=lfs -text
data/EURUSD/EUR-USD_Minute_2025-12-09_UTC.csv filter=lfs diff=lfs merge=lfs -text
data/EURUSD/EUR-USD_Minute_2026-01-01_UTC.csv filter=lfs diff=lfs merge=lfs -text
data/EURUSD/target_EURUSD.csv filter=lfs diff=lfs merge=lfs -text
data/EURUSD/EUR-USD_Minute_2025-11-24_UTC.csv filter=lfs diff=lfs merge=lfs -text
data/EURUSD/raw_norm_EURUSD.csv filter=lfs diff=lfs merge=lfs -text
data/EURUSD/EUR-USD_Minute_2025-12-05_UTC.csv filter=lfs diff=lfs merge=lfs -text
data/EURUSD/EUR-USD_Minute_2025-12-19_UTC.csv filter=lfs diff=lfs merge=lfs -text
data/EURUSD/EUR-USD_Minute_2025-12-22_UTC.csv filter=lfs diff=lfs merge=lfs -text
data/EURUSD/EUR-USD_Minute_2025-12-23_UTC.csv filter=lfs diff=lfs merge=lfs -text
data/EURUSD/EUR-USD_Minute_2025-12-24_UTC.csv filter=lfs diff=lfs merge=lfs -text
data/EURUSD/EUR-USD_Minute_2026-01-02_UTC.csv filter=lfs diff=lfs merge=lfs -text
data/EURUSD/EUR-USD_Minute_2025-12-20_UTC.csv filter=lfs diff=lfs merge=lfs -text
data/electricity/target_LD2011_2014.csv filter=lfs diff=lfs merge=lfs -text
data/EURUSD/EUR-USD_Minute_2025-11-25_UTC.csv filter=lfs diff=lfs merge=lfs -text
data/EURUSD/EUR-USD_Minute_2025-12-04_UTC.csv filter=lfs diff=lfs merge=lfs -text
data/EURUSD/EUR-USD_Minute_2025-12-27_UTC.csv filter=lfs diff=lfs merge=lfs -text
data/EURUSD/EUR-USD_Minute_2025-12-29_UTC.csv filter=lfs diff=lfs merge=lfs -text
data/EURUSD/EUR-USD_Minute_2025-11-27_UTC.csv filter=lfs diff=lfs merge=lfs -text
data/EURUSD/EUR-USD_Minute_2025-12-10_UTC.csv filter=lfs diff=lfs merge=lfs -text
data/EURUSD/EUR-USD_Minute_2025-12-12_UTC.csv filter=lfs diff=lfs merge=lfs -text
data/EURUSD/EUR-USD_Minute_2025-12-17_UTC.csv filter=lfs diff=lfs merge=lfs -text
data/EURUSD/EUR-USD_Minute_2025-12-18_UTC.csv filter=lfs diff=lfs merge=lfs -text
data/EURUSD/EUR-USD_Minute_2025-12-28_UTC.csv filter=lfs diff=lfs merge=lfs -text
data/EURUSD/EUR-USD_Minute_2025-12-08_UTC.csv filter=lfs diff=lfs merge=lfs -text
data/EURUSD/EUR-USD_Minute_2025-11-26_UTC.csv filter=lfs diff=lfs merge=lfs -text
data/EURUSD/EUR-USD_Minute_2025-12-02_UTC.csv filter=lfs diff=lfs merge=lfs -text
data/EURUSD/lags_EURUSD.csv filter=lfs diff=lfs merge=lfs -text
data/EURUSD/EUR-USD_Minute_2025-11-28_UTC.csv filter=lfs diff=lfs merge=lfs -text
